/*CSS Styling Specific to portfolio.css
=====================================*/

.portfolio_content {
	border: solid black 1px;
	display: inline-block;
}


/*Alternates .portfolio_content left and right
--------------------------------------------*/

.portfolio_content:nth-child(2n) {
	float: right;
	clear: left;
	margin-right: 2%;
}

.portfolio_content:nth-child(2n+1) {
	float: left;
	clear: right;
	margin-left: 2%;
}


/*Layout within each portfolio project
------------------------------------*/

.portfolio_content {
	margin: 20px 0px;

	max-width: 70%;

	box-shadow: 5px 5px 2px grey;
	border-radius: 5px;

	background-color: rgba(128, 128, 128, 0.64);

}
.portfolio_content_thumbnail img {
	float: right;
	height: 100px;
	display: inline-block;
	border: solid black 1px;
	box-shadow: 10px 10px 5px grey;

	position: relative;
	top: 20px;
	left: 20px;

}

.portfolio_content_description {
	margin-left: 10px;
	padding-right: 0px;
}


/*Page Specific Styling
---------------------*/

body {
	/*background-image: url(../img/mytent.jpg);
	background-size: contain;
	background-repeat: no-repeat;*/

	background-color: #C9FFF1;
	background-size: cover;

}