/*CSS Styling Specific to portfolio.css
=====================================*/

.portfolio_content {
	border: solid black 1px;
	display: inline-block;
}


/*Alternates .portfolio_content left and right
--------------------------------------------*/

.portfolio_content:nth-child(2n) {
	float: right;
	clear: left;
}

.portfolio_content:nth-child(2n+1) {
	float: left;
	clear: right;
}


/*Layout within each portfolio project
------------------------------------*/

.portfolio_content_thumbnail img {
	float: right;
	height: 100px;
	display: inline-block;
}

.portfolio_content_descriptor {
	/*float: left;*/
}