
body {
	background-color: #C5B89B;
}


/*JumboTron CSS
=============*/

.jumbotron {
	background-image: url(../img/JumboFive.jpg);
	background-size: 100%;
	background-position: center 63%;

	height: 350px;

}

.jumbotron > .container {
	text-align: center;
	color: black;
	margin-top: 45px;
	max-width: 80%;


}