---
layout: default
title: Home
---
<div id="header">
  <div id="header--logo">
    <h1>Joe Karasek</h1>
    <h2>Web Developer</h2>
  </div>
</div>
<div id="about">
  <div id="about--main">
    <h2>About Joe Karasek</h2>
    <p>Joe is an awesome guy and a great programmer and you would be an idiot not to hire him right away to build awesome websites and programs.</p>
  </div>
  <div id="about--skills">
    <div class="about">
      <h3>Javascript</h3>
      <p>jQuery, Node, Ember, Angular2, Mocha, Chai</p>
    </div>
    <div class="about">
      <h3>PHP</h3>
      <p>Silex, Twig, Drupal 7, Drupal 8, mySQL</p>
    </div>
    <div class="about">
      <h3>Skills/Tools</h3>
      <p>HTML, CSS, Javascript, PHP</p>
    </div>
  </div>
</div>

<div>
  Hi, I'm Joe Karasek, a Portland, OR code school student studying JavaScript, PHP, and other Back End Web Development Technologies. Please contact me with any questions!

</div>
<div class="projects">
  {% for item in site.projects %}
    <div class="project">
      <a href="{{item.url}}">{{ item.title }}</a>
      {% if item.teaser %}
        <p>{{ item.teaser }}</p>
      {% endif %}
      <a href="{{item.url}}">Read More</a>
      <a href="{{item.repo}}" target="_blank">See the Repo on GitHub</a>
    </div>
  {% endfor %}
</div>
> joseph.karasek [at] gmail.com
