---
title: styleguide
layout: default
---
<h2>Typography</h2>

<hr>

<h3>Body Text</h3>

<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. <bold>Sequi qui </bold> ab quas expedita, officia provident ipsa iure cum. Voluptatem optio mollitia <em>suscipit illo commodi</em> , distinctio eum minima porro at harum! </p>
<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi qui ab quas expedita, officia provident ipsa iure cum. Voluptatem optio mollitia suscipit illo commodi, distinctio eum minima porro at harum! </p>

<hr>

<h3>Headings</h3>

<h1>Heading 1</h1>
<h2>Heading 2</h2>
<h3>Heading 3</h3>
<h4>Heading 4</h4>
<h5>Heading 5</h5>
<h6>Heading 6</h6>

<hr>

<h3>Lists</h3>

<ul>
  <li>List Item 1</li>
  <li>List Item 2</li>
  <li>List Item 3</li>
  <li>List Item 4</li>
  <li>List Item 5</li>
</ul>

<ol>
  <li>List Item 1</li>
  <li>List Item 2</li>
  <li>List Item 3</li>
  <li>List Item 4</li>
  <li>List Item 5</li>
</ol>

<hr>

<h3>Links</h3>

<p>
  <a href="#">Link Item</a>
</p>

<hr>

<h3>Buttons</h3>

<p>
  <a href="#" class="btn">Button</a>
</p>

<p>
  <a href="#" class="btn btn--alt">Alt Button</a>
</p>

<hr>

<h3>Chips</h3>

<li class="chip">Javascript</li>

<hr>

<h3>Card</h3>

<div class="card" style="">

  <img src="/projects/BustleClone/screenshot1.png">

  <h4><a href="/projects/BustleClone/index.html">Bustle Clone</a></h4>

  <ul>

      <li class="chip">Javascript</li>

      <li class="chip">Ember.js</li>

      <li class="chip">Firebase DB</li>

  </ul>

  <a href="http://joekarasek.github.io/epicodus-ember-bustle/" class="btn" target="_blank">Live Demo</a>

  <a href="https://github.com/joekarasek/Advanced-RPS" class="btn" target="_blank">See the Code</a>


    <p>A mock version of the news site Bustle built in one day in Ember.</p>


  <a href="/projects/BustleClone/index.html">Read More</a>

</div>

<hr>

<h1>Global</h1>

<h2>Header</h2>

{% include header.html %}

<hr>

<h2>Footer</h2>

{% include footer.html %}

<hr>
