<div class="page-wrapper">
<header class="header">
  <nav>
    <div class="container nav-wrapper">
      <a href="#!" class="brand-logo">Joe Karasek</a>
      <a href="#" data-activates="mobile-sidebar" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li><a href="/#about">Details</a></li>
        <li><a href="/#projects">Portfolio</a></li>
        <li><a href="http://www.joekarasek.com">Blog</a></li>
        <li><a href="http://www.joekarasek.com">Follow</a></li>
        <li><a href="contact.html">Hire</a></li>
      </ul>
      <ul class="side-nav" id="mobile-sidebar">
        <li><a href="/">Home</a></li>
        <li><a href="/#about">Details</a></li>
        <li><a href="/#projects">Portfolio</a></li>
        <li><a href="http://www.joekarasek.com">Blog</a></li>
        <li><a href="http://www.joekarasek.com">Follow</a></li>
        <li><a href="contact.html">Hire</a></li>
      </ul>
    </div>
  </nav>
</header>
