<div class="card project--tile" style="">

  <div class="row">
    <h4><a href="{{item.url}}">{{ item.title }}</a></h4>

    <div class="project--tile--links">
      {% if item.demo %}<a href="{{item.demo}}" class="btn" target="_blank">Live Demo</a>{% else %}<a href="#" class="btn" disabled=true>Demo Coming</a>{% endif %}
      {% if item.repo %}<a href="{{item.repo}}" class="btn" target="_blank">See the Code</a>{% endif %}
    </div>

    <div class="col {% if item.imgs %}s9{% else %}s12{% endif %}">
      <h5>Technologies Used:</h5>
      <ul>
        {% for tag in item.tags %}
          <li class="chip">{{ tag }}</li>
        {% endfor %}
      </ul>

      <h5>Description:</h5>
      {% if item.teaser %}
        <p>{{ item.teaser }}  <a href="{{item.url}}">Read More</a></p>
      {% endif %}
    </div>

    {% if item.imgs %}
      <div class="col s3">
        <img src="{{ item.url | remove: "index.html" }}{{ item.imgs | first}}">
      </div>
    {% endif %}

  </div>

</div>
