$font-color: #26A69A;

#header {
  height: 100vh;
  // background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.3) ), url('imgs/joe.png');
  background-position: center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
  #header--image {
    // background: url('imgs/joe.png');
  }
  #header--image>img {
    width: 300px;
    height: 300px;
    border-radius: 230px;
  }

  #header--logo {
    vertical-align: middle;
    display: inline-block;
    color: $font-color;
    text-align: center;
    opacity: 1;
    // background-color: rgba(38, 166, 154, 0.45);
    padding: 0px 45px 5px 45px;
    border-radius: 10px;
  }
