$btn-color: #9DD7D1;
$btn-color-disabled: #C7C7C7;

.btn {
  background-color: $btn-color;
  &--alt {
    background-color: $btn-color-disabled;
    &:hover {
      background-color: $btn-color-disabled;
    }
  }
  &[disabled]:hover {
    background-color: #9DD7D1;

  }
}
