.card {
  border: solid 1px tomato;
  padding: 10px;
  margin: 5px;
  width: 45%;
  @media screen and (max-width: 768px) {
    width: 95%;
  }

  img {
    max-width: 100px;
    max-height: 100px;
    float: left;
    height: 100%;
  }
}
