body {
  background-color: black;
  color: white;
}

nav {
  background-color: black;
}

#header {
  height: 100vh;
  background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.3) ), url('imgs/header.jpg');
  background-position: center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
  #header--logo {
    vertical-align: middle;
    display: inline-block;
    color: white;
    opacity: 1;
  }
    #header--logo h1 {
      text-decoration: underline;
    }

#about {
  background-color: grey;
}
  #about--skills {
    padding: 150px 0px;
    display: flex;
    justify-content: space-around;
  }
    #about--skills .about {
      background-color: black;
      width: 25%;
      padding: 5px;
    }
      #about .about h3 {
        font-size: 18px;
      }


.project {
  border: solid 10px red;
  padding: 10px;
  margin: 10px;
}
