---
layout: default
title: Educations
---
<div class="projects">
  {% for item in site.education %}
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <span class="card-title">{{ item.title }} {{item.employer}}</span>
        {% if item.teaser %}
          <p>{{ item.teaser }}</p>
        {% endif %}
      </div>
      <div class="card-action">
        <a href="{{item.url}}">Read More</a>
        <a href="{{item.repo}}" target="_blank">See the Repo on GitHub</a>
      </div>
    </div>
  {% endfor %}
</div>
<!-- Program Assistant (2015-present)
SOLVE Oregon
Reporting to the Program Coordinator, supports Team Up and Stream Team programs, creating monitoring protocol and performance criteria for restoration projects. Conducting quantitative and qualitative assessments of wetland, riparian and upland forest restoration and site management. Integrating digital mapping into restoration project management and reporting, preparing site reports for major donors and project partners, and training staff on new protocols.
• Redeveloped vegetation and photo monitoring protocols, creating a site condition report template, used both internally and externally to more effectively and clearly convey site data.
• Implemented quantifiable and relative metrics (stems per acre, plant health, invasive species groundcover) into vegetation monitoring protocol, enabling SOLVE to accurately measure and compare restoration effort success.
• Mapped and measured all 20 current restoration sites, resulting in more accurate planning, management, reporting and resource tracking.
• Tools: Google Earth Pro, Google Docs, MS Office.
Stream Team Captain - Volunteer (2013-present)
SOLVE Oregon
Reporting to the Program Coordinator, training and guiding groups of volunteers in restoration activities including tree and shrub planting, plant care, erosion control, and removal of invasive species. Engaging and educating students and community volunteers in restoration ecology, environmental stewardship, and community volunteerism.
Graduate Student Researcher (2013-2014)
City of Gresham, Department of Environmental Services
Reported to the Water Sciences Program Manager, designed and conducted independent study of a developer’s ineffective proprietary stormwater management infrastructure on residential properties. Assessed compliance with environmental regulations. including SWMP,
• Highlighted limitations of sub-surface infiltration for stormwater management.
• Prepared and delivered performance and compliance (MS4, SWMP) reporting to DES. • Presented research at the 12th annual Urban Ecology Research Consortium.
• Developer was forced to submit revised stormwater management plan.
• Tools: Onset HOBO Data Logger, MS Office, RStudio, ArcGIS.

Field Biologist (2013)
Oregon State University, Institute for Natural Resources
Reported to the Director of the Oregon Biodiversity Information Center, surveyed and assessed sage grouse habitat in remote locations throughout southeast Oregon, collected and maintained field data, and navigated and recorded location data.
• Surveyed 450+ locations over a 2.5 month field season.
• Tools: MS Access, ArcGIS, Garmin GPS.
Intern, Corporate Sponsorship Team (2011-2012)
OurEarth
Reported to the Founder and CEO, co-led two dozen interns in effort to win a Pepsi Refresh Project grant. Co-led corporate sponsorship outreach team. Helped build environmental education program database. Completed Six Domains Leadership Program.
• Successfully won $25,000 grant through the Pepsi Refresh Project.
• Raised $2000+ in sponsorship from corporate sponsors.
Americorps Field Crew Leader (2009)
The Nature Conservancy
Reporting to the Restoration Project Manager, identified and surveyed native and invasive plants within the Sandy River watershed. Collected and digitized data into GIS databases, conducted door-to-door outreach to private landowners. Coordinated preparations for weekly volunteer work crews, and wrote Oregon chapter’s monthly volunteer newsletter.
• Tools: ArcGIS, MS Office. -->
