---
layout: page
---
{% if page.repo %}
  <a href="{{page.repo}}" class="btn" target="_blank">Code</a>
{% endif %}

{% if page.demo %}
  <a href="{{page.demo}}" class="btn" target="_blank">Demo</a>
{% endif %}

<ul>
  {% for tag in page.tags %}
    <li class="chip">{{ tag }}</li>
  {% endfor %}
</ul>

  <div class="row">
    <div class="col m8">

      {{content}}

    </div>

    <div class="col m4">
      {% if page.imgs %}
      {% for img in page.imgs %}
      <a href="{{img}}"><img src="{{ img }}" alt=""></a>
      {% endfor %}
      {% endif %}

    </div>
</div>
