---
layout: page
---
<div class="container project--page">

  <div class="row">
    <h4><a href="{{page.url}}">{{ page.title }}</a></h4>

    <div class="project--tile--links">
      {% if page.demo %}<a href="{{page.demo}}" class="btn" target="_blank">Live Demo</a>{% else %}<a href="#" class="btn" disabled=true>Demo Coming</a>{% endif %}
      {% if page.repo %}<a href="{{page.repo}}" class="btn" target="_blank">See the Code</a>{% endif %}
    </div>

    <div class="col s9">
      <h5>Technologies Used:</h5>
      <ul>
        {% for tag in page.tags %}
          <li class="chip">{{ tag }}</li>
        {% endfor %}
      </ul>

      <h5>Description:</h5>
      <div class="content">
        {{content}}
      </div>

      <h5>Contributors</h5>
      <ul>
        {% for contributor in page.contributors %}
        <li class="contributor">{{ contributor }}</li>
        {% endfor%}
      </ul>
    </div>

    <div class="col s3">
      {% if page.imgs %}
      <h4>Images</h4>
      {% for img in page.imgs %}
        <a href="{{ img }}"><img src="{{ img }}" alt=""></a>
      {% endfor %}
      {% endif %}
    </div>

  </div>

</div>
